@charset "utf-8";
/* CSS Document */

body{
	font-family:Arial, Helvetica, sans-serif;
	color:#333333;
	font-size:10pt;
	line-height:18px;
	background:url(../images/background_main.jpg);
	background-attachment:fixed;
}

h1, h1 a{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:18pt;
	
	color:#d37412;
	text-decoration:none;
}

h1 a:hover{
	color:#8b3215;
	text-decoration:underline;
}

h2, h2 a{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14pt;
	color:#8b3215;
	text-decoration:none;
}

h2 a:hover{
	color:#d37412;
	text-decoration:underline;
}

a{
	color:#4093bf;
	text-decoration:none;
}

a:hover{
	color:#8b3215;
	text-decoration:none;
	
}

/* Page Override */


.global-filter .form-item.form-type-textfield {
	position:relative;
	display:inline-block !important;
}

.region-header{
	display:block;
	position:absolute;
	background:#cccccc;
	width:320px;
	overflow:hidden;
	right:0;
	top:120px;
}

.region-header #edit-search-api-views-fulltext{
	width:150px;
	color:#999999;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	height:21px;
}

.region-header .form-type-select select{
	width:90px;
	font-size:.9em;
	color:#993a14;
	height:27px;
}

.region-header .form-submit{
	background:url(../images/btn_formSubmit.png) top left no-repeat;
	height:27px;
	width:27px;
	overflow:hidden;
	text-indent:-1000px;
	border:0;
	display:inline-block;
	position:absolute;
	top:16px;
	right:0;
}

.region-header a{
	background:url(../images/btn_clearForm.png) top left no-repeat;
	height:27px;
	width:27px;
	overflow:hidden;
	text-indent:-1000px;
	border:0;
	margin-right:5px;
	display:inline-block;
	position:absolute;
	top:16px;
	right:30px;
}

#page {
    width:100%;
	max-width:none;
}

#page #main{
	width:960px;
	margin:0 auto;
} 

#page #header{
	background:#FFFFFF;
	position:relative;
}

#page #header .headerContainer{
	width:960px;
	margin:0 auto;
	position:relative;
}

#page #header #navigation {
    height: 3em;
    position: relative;
    top:auto;
    width:960px;
	margin:0 auto;
}

#page #header #navigation ul.menu li a{
	display:block;
	padding:10px 20px;
	background:#efefef;
}

.aboveMain table{
	width:100%;
}

.aboveMain table td{
	margin:20px;
	display:inline-block;
	position:relative;
	float:left;
	width:278px;
}

.aboveMain table td .views-field-field-featured-image{
	width:100%;
	height:120px;
	overflow:hidden;
}

.aboveMain table td .views-field-field-featured-image img{
	width:100%;
}


