@charset "utf-8";
/* CSS Document */

body{
	font-family:Arial, Helvetica, sans-serif;
	color:#333333;
	font-size:10pt;
	line-height:18px;
	background:url(../images/background_main.jpg) top repeat-x fixed;
}

h1, h1 a{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:18pt;
	font-weight:normal;
	
	color:#d37412;
	text-decoration:none;
}

h1 a:hover{
	color:#8b3215;
	text-decoration:underline;
}

h2, h2 a{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14pt;
	color:#8b3215;
	text-decoration:none;
}

h2 a:hover{
	color:#d37412;
	text-decoration:underline;
}

a{
	color:#4093bf;
	text-decoration:none;
}

a:hover{
	color:#8b3215;
	text-decoration:none;
	
}

/* Header Override */

.headerContainer #logo{
	display:block;
	background:url(../images/MainLogo_trans.png) top left no-repeat;
	width:153px;
	height:153px;
	position:absolute;
	left:400px;
	z-index:999;
	top:8px;
}

.headerContainer #logo img{
	display:none;
}

#header .headPlayer{
	position:absolute;
	right:10px;
	top:82px;
	width:auto;
	background:url(../images/Note_icon.jpg) right no-repeat #973a14;
	padding:3px 22px 3px 6px;
	border-radius:2px;
	z-index:999;
	
}

#header .headPlayer:hover, #header .headPlayer a:hover{
	cursor:hand;
	cursor:pointer;
}

#header .headPlayer a{
	color:#FFFFFF;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:10px;
	text-transform:uppercase;
}

/* Page Override */


.global-filter .form-item.form-type-textfield {
	position:relative;
	display:inline-block !important;
}

.region-header{
	display:block;
	position:absolute;

	width:320px;
	overflow:hidden;
	right:0;
	top:90px;
}

.region-header #edit-search-api-views-fulltext{
	width:150px;
	color:#999999;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	height:21px;
}

.region-header .form-type-select select{
	width:90px;
	font-size:.9em;
	color:#993a14;
	height:27px;
}

.region-header .form-submit{
	background:url(../images/btn_formSubmit.png) top left no-repeat;
	height:27px;
	width:27px;
	overflow:hidden;
	text-indent:-1000px;
	border:0;
	display:inline-block;
	position:absolute;
	top:20px;
	right:10px;
}

.region-header a{
	background:url(../images/btn_clearForm.png) top left no-repeat;
	height:27px;
	width:27px;
	overflow:hidden;
	text-indent:-1000px;
	border:0;
	margin-right:5px;
	display:inline-block;
	position:absolute;
	top:20px;
	right:34px;
}

.global-filter .form-item.form-type-select, .global-filter .form-item.form-type-textfield {
    display: block !important;
	float:left;
	margin-right:5px;
}

#page {
    width:100%;
	max-width:none;
}

#page #main{
	width:960px;
	margin:0 auto;
	padding-top:20px;
} 

.front #page #main{
	padding-top:0;
	margin:-20px auto 0 auto;

} 

#page .aboveMain{
	width:100%;
	background:#FFFFFF;
}

#page .aboveMain table{
	margin-top:0;
}

#page .aboveMain .region, #page .aboveMain .breadcrumb{
	margin:0 auto;
	width:960px;
	padding:2px 0;
	
}

#page #header{
	background:url(../images/BannerBack_main.jpg) top center repeat-x;
	height:188px;
	position:relative;

}

#page #header .headerContainer{
	width:960px;
	margin:0 auto;
	position:relative;
	text-align:center;
}

#page #header .mainNav{
	position:absolute;
	width:100%;
	left:0;
	top:152px;
	height:36px;
	background:url(../images/NavBack.png);
}

#page #header #navigation {
    height: 3em;
    position:relative;
    width:960px;
	margin:0 auto;
}

#page #header #navigation ul.menu{
	
	width:100%;
	
}

#page #header #navigation ul.menu li{
	margin:0;
	padding:0;
	background:none;
	display:inline-block;
	float:none;
	position:relative;
	width:auto;
	
}

#page #header #navigation ul.menu li.first{
	

}

#page #header #navigation ul.menu li a{
	display:block;
	position:relative;
	width:auto;
	padding:10px 30px;
	color:#FFFFFF;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:16px;
	border:0;
}

#page #header #navigation ul.menu li a.active{
	color:#FFFFFF;	
	background:#5fa7b9;
}

#page #header #navigation ul.menu li a:hover{
	color:#FFFFFF;	
	background:#5fa7b9;
}

.front h1#page-title{
	
	background:url(../images/Home_BlogBack.png) right no-repeat;
	width:510px;
	position:absolute;
	left:-710px;
	color:#FFFFFF;
	font-size:18px;
	padding:10px 0 10px 710px;
	
}

.front .sidebars .block-title{
	background:url(../images/Home_AboutBack.png) left no-repeat;
	width:510px;
	position:absolute;
	right:-800px;
	color:#FFFFFF;
	font-size:18px;
	padding:10px 510px 10px 40px;
	top:-5px;
}

.aboveMain table{
	width:100%;
}

.aboveMain table td{
	margin:10px;
	padding:9px;
	position:relative;
	float:left;
	width:278px;
	border:1px solid #EFEFEF;
	min-height:240px;
	background:#FFFFFF;
	box-shadow:0px 3px 5px #EFEFFF;
	
}

.aboveMain table td .views-field-field-featured-image{
	width:100%;
	height:120px;
	overflow:hidden;
	margin-bottom:10px;
}

.aboveMain table td .views-field-field-featured-image img{
	width:100%;
}

.aboveMain table td .views-field-title{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:16px;
	font-style:italic;
	
}


.sidebar-first #content {
    margin-left: 30%;
    width: 70%;
}

.sidebar-first .region-sidebar-first{
    margin-right: -30%;
    width: 26%;
}

.sidebar-second #content {
    margin-right: -70%;
    width: 70%;
}

.sidebar-second .region-sidebar-second {
    margin-left: 74%;
    width: 26%;
}

.sidebars .sidebar{
	margin-top:-10px;
}

.sidebars .sidebar, .sidebars .sidebar .menu{
	padding:0;
}

.sidebars .sidebar ul{
	box-shadow:3px 0 5px #EFEFEF;
}

.sidebars .sidebar ul ul{
	box-shadow:0 0 0;
}

.sidebars .sidebar ul ul, .sidebars .sidebar ul li{
	list-style:none;
}

.sidebars .sidebar ul li.expanded{
	list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABJJREFUeJxj+MdQw2DBIMAABgAUsAHD3c3BpwAAAABJRU5ErkJggg==");
    list-style-type: circle;
	
}

.sidebars .sidebar ul li a{
	padding:3px;
	display:block;
	background:#EFEFEF;
	margin-bottom:1px;
}

.sidebars .sidebar ul li:hover{
	list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABFJREFUCB1jVmCGQClmEWYOAAZ8AMy3HPLXAAAAAElFTkSuQmCC");
    list-style-type: disc;
}

.sidebars .sidebar ul li a:hover{
	background:#9c3b1d;
	color:#FFFFFF;
}

.sidebars .sidebar ul li.expanded a{
	background:#CCCCCC;
	color:#FFFFFF;
}

.sidebars .sidebar ul li.expanded ul li a{
	padding:3px;
	display:block;
	background:#999999;
	margin-bottom:1px;
	padding-left:10px;
	color:#FFFFFF;
}

.sidebars .sidebar ul li.expanded ul li a:hover{
	background:#50a4d1;
	color:#FFFFFF
}

/* Songbook Section Styles */

.page-songbook .sidebars h2{
	background:#50a4d1;
	padding:3px 3px 3px 10px;
	color:#FFFFFF;
	font-size:14px;
	font-weight:normal;	
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
}

.page-songbook .sidebars ul.facetapi-facetapi-links{
	margin:0;
	padding:0;
}

/* CMS Styles */

.image-left, img.image-left{
	float:left;
	margin:0 10px 10px 0;
	
}
.image-left img{
	border-top-left-radius:5px;
}

blockquote.fancy-quote{
	padding:20px;
	border-radius:14px;
	background:url(../images/NavBack.png);
	color:#FFFFFF;
	box-shadow:3px 0 5px #EFEFFF;
	margin:10px;
	margin-left:-15px;
	font-family:Georgia, "Times New Roman", Times, serif;
	
}

blockquote.fancy-quote p{
	padding:0 !important;
	margin:0;
	margin-bottom:5px;
	line-height:22px;
}

blockquote.pull-quote{
	padding:20px;
	border-radius:14px;
	background:#444444;
	color:#FFFFFF;
	box-shadow:3px 0 5px #EFEFFF;
	margin:10px;
	margin-right:-10px;
	font-family:Georgia, "Times New Roman", Times, serif;
	display:block;
	float:right;
	width:300px;
	
}

blockquote.pull-quote p{
	padding:0 !important;
	margin:0;
	margin-bottom:5px;
	line-height:22px;
}



