@charset "utf-8";
/* CSS Document */

body{
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#444444;
	font-size:14px;
	line-height:22px;
	background:url(../images/background_main-light.jpg);
	min-width:960px;

}

a{
	color:#5FA7B9;
	text-decoration:none;
}

a:hover{
	color:#8b3215;
	text-decoration:none;

}

h1, h1 a{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	font-size:24pt;
	line-height:32pt;
	font-weight:normal;
	color:#5fa7b9;
	text-decoration:none;
	background:url(../images/h1_back.png) 0 12px no-repeat;
	padding-left:28px;

}

h1 a:hover{
	color:#8b3215;
	text-decoration:underline;
}


h2, h2 a{
	font-size:18pt;
	color:#764039;
	text-decoration:none;
	font-weight:normal;
	font-style:italic;
}

h2 a:hover{
	color:#d37412;
	text-decoration:underline;
}

#content.column p{

}

/* Header Override */

.headerContainer #logo{
	display:block;
	background:url(../images/MainLogo_trans.png) top left no-repeat;
	width:153px;
	height:153px;
	position:absolute;
	left:400px;
	z-index:999;
	top:8px;
}

.headerContainer #logo img{
	display:none;
}

#header .donate{
	display:block;
	position:fixed;
	width:100%;
	z-index:9999;
	top:0;
	right:0;
	border-top:2px solid #5fa7b9;
}

.logged-in #header .donate{
	z-index:1;
}

#header .donate .donateIcon{
	display:block;
	margin:0 auto;
	width:960px;
	text-align:right;
}

#header .headPlayer{
	position:absolute;
	right:10px;
	top:82px;
	width:auto;
	background:url(../images/Note_icon.jpg) right no-repeat #973a14;
	padding:3px 22px 3px 6px;
	border-radius:2px;
	z-index:999;
}

#header .headPlayer:hover, #header .headPlayer a:hover{
	cursor:hand;
	cursor:pointer;
}

#header .headPlayer a{
	color:#FFFFFF;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:10px;
	text-transform:uppercase;
}

#header .socialMedia{
	display:block;
	width:auto;
	position:absolute;
	right:96px;
	top:86px;
}

#header .socialMedia a{
	display:inline-block;
	margin-left:5px;
}

/*Sticky Footer*/

body, html{
	height:100%;

}

#page{
	min-height:100%;
	position: relative;
	min-width:960px;
	display:block;
	clear:both;
	background:url(../images/BannerBack_main.jpg) top center repeat-x;

}

* html #page{
	height: 100%;
}

#main{
	padding-bottom: 9em;


}

#MainFooter{
	position: relative;
	margin-top: -7.5em;
	min-height:9em;
}

.not-logged-in .wysiwyg-toggle-wrapper,
.not-logged-in .filter-wrapper{
	display:none;
}

/* Footer Style */

#MainFooter{
	background:url(../images/background_main-darken.jpg) repeat-x;
	background-position:0px 45px;
	border-bottom:7px solid #78423a;
}

#MainFooter #AboveFooter{
	margin:0 auto 15px auto;
	width:960px;
}

#MainFooter #FooterLower{
	background:url(../images/aboveMain_back.jpg);
	padding:20px;
	color:#CCCCCC;
	font-family:"Myriad Pro", "Myriad", Arial;
	width:920px;
	margin:0 auto;
}

#MainFooter #FooterLower a:hover{
	color:#CCCCCC;
}

#MainFooter #FooterLower a.active{
	color:#FFFFFF;
	background:url(../images/white_arrow.png) top center no-repeat;
}

#MainFooter #footer{
	width:65%;
	float:left;
	min-width:300px;
}

#MainFooter #footer .block{
	display:inline;
}

#MainFooter #footer #block-block-3 p{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:1.3em;
	color:#FFFFFF;
	margin:20px 0 3px 0;
	font-style:italic;
}

#MainFooter #footer #block-block-4 p{
	margin:0 0 0 22px;
}

#footer .block ul{
	list-style:none;
	margin:0;
	padding:0;
	display:inline-block;
}

#footer .block ul.menu li{
	list-style:none;
	display:inline;
}

#footer .block ul.menu li a{
	display:inline-block;
	padding:5px 10px;
}

#MainFooter .mailChimpFooter{
	width:34%;
	float:right;
	min-width:300px;
}

#MainFooter .mailChimpFooter #mc_embed_signup{
	background:none;
}

#MainFooter .mailChimpFooter #mc-embedded-subscribe-form #mce-EMAIL,
#MainFooter .mailChimpFooter #mc-embedded-subscribe-form .clear{
	display: inline-block;
    float: left;
    width: 180px;
}

#MainFooter .mailChimpFooter #mc-embedded-subscribe-form .clear{
	width:10px;
}

#MainFooter .mailChimpFooter #mc-embedded-subscribe-form label{
	font-size: 1em;
    font-weight: normal;
    margin-top: -5px;
	margin-bottom:5px;
    padding-bottom: 0;
	width:100px;
}

#MainFooter .mailChimpFooter #mc-embedded-subscribe-form #mce-EMAIL{
	padding:5px 5px 6px 5px;
	margin:1px 13px 10px 0;
}

#MainFooter .mailChimpFooter input#mc-embedded-subscribe{
	float:left;
	display:block;
	padding:5px 10px;
	border:0;
	font-size:.7em;
	text-transform:uppercase;
	background:#993a14;
	color:#FFFFFF;
	margin:1px 0 0 -13px;
	border-radius:0;
	width:auto;
	min-width:100px;
}


/* Page Override */

.section-songbook h3,
.section-songbook h3 a{
	font-family:"Myriad Pro", verdana, sans-serif;
	color:#763f39;
}

.section-songbook h3 a:hover{
	color:#5a261f;
}

.global-filter .form-item.form-type-textfield {
	position:relative;
	display:inline-block !important;
}

.region-header{
	display:block;
	position:absolute;

	width:320px;
	overflow:hidden;
	right:0;
	top:90px;
}

.region-header #edit-search-api-views-fulltext{
	width:150px;
	color:#999999;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	height:21px;
}

.region-header .form-type-select select{
	width:90px;
	font-size:.9em;
	color:#993a14;
	height:27px;
}

.region-header .form-submit{
	background:url(../images/btn_formSubmit.png) top left no-repeat;
	height:27px;
	width:27px;
	overflow:hidden;
	text-indent:-1000px;
	border:0;
	display:inline-block;
	position:absolute;
	top:20px;
	right:10px;
}

.region-header a{
	background:url(../images/btn_clearForm.png) top left no-repeat;
	height:27px;
	width:27px;
	overflow:hidden;
	text-indent:-1000px;
	border:0;
	margin-right:5px;
	display:inline-block;
	position:absolute;
	top:20px;
	right:34px;
}

.global-filter .form-item.form-type-select, .global-filter .form-item.form-type-textfield {
    display: block !important;
	float:left;
	margin-right:5px;
}

#page {

}

#page #main{
	width:960px;
	margin:0 auto;
	padding-top:20px;
}

.front #page #main{
	padding-top:0;
	margin:10px auto 0 auto;

}

#page .aboveMain{
	min-width:960px;
	border-top:6px solid #2f9bb7;
	background:url(../images/background_main.jpg);
}

.section-songbook #page .aboveMain{
	border-top:6px solid #FFFFFF;
}

#page .aboveMain table{
	margin:0;
}

#page .aboveMain .region, #page .aboveMain .breadcrumb{
	margin:0 auto;
	width:960px;
	padding:2px 0;

}

#page .aboveMain .breadcrumb li{
	padding-left:10px;
	color:#666666;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
}

#page .aboveMain .breadcrumb li a{
	color:#764039;
	padding-right:10px;
}

.front #page .aboveMain .region .block{
	margin:0;
}

#page #header{
	height:188px;
	position:relative;
	width:auto;
	display:block;
	overflow:visible;
	clear:both;
}

.page-blog #page #header, .node-type-blog-post #page #header{
	background:url(../images/BannerBack_WarHorn.jpg) top center repeat-x;
	height:188px;
	position:relative;
}

#page #header .headerContainer{
	width:960px;
	margin:0 auto;
	position:relative;
	text-align:center;
}

#page #header .mainNav{
	position:absolute;
	min-width:100%;
	left:0;
	top:152px;
	height:36px;
	background:url(../images/NavBack.png);
}

#page #header #navigation {
    height: 3em;
    position:relative;
    width:960px;
	margin:0 auto;

}

#page #header #navigation .region-navigation{
	width:1000px;
}

#page #header #navigation ul.menu{

	min-width:100%;

}

#page #header #navigation ul.menu li{
	margin:0;
	padding:0;
	background:none;
	display:inline-block;
	float:none;
	position:relative;
	width:auto;

}

#page #header #navigation ul.menu li.first{


}

#page #header #navigation ul.menu li a{
	display:block;

	position:relative;
	width:auto;
	padding:12px 38px;
	color:#FFFFFF;
	font-size:13px;
	font-family:"Myriad Pro", "Myriad", Arial, Helvetica, sans-serif;
	font-weight:lighter;
	letter-spacing:1px;
	border:0;
	border-left:1px dotted #CCCCCC;
	text-transform:uppercase;
}

#page #header #navigation ul.menu li.last a{
	padding:12px 50px 12px 41px;
	border-right:1px dotted #CCCCCC;
}

#page #header #navigation ul.menu li a:hover{
	color:#FFFFFF;
	background:url(../images/menu-h2-main.png) top repeat-x;

}

#page #header #navigation ul.menu li a.sf-depth-1.active{
	color:#FFFFFF;
	background:url(../images/background_main-blue.jpg);
}

#page #header #navigation ul.menu li#menu-437-1 li a:hover{
	color:#2f9bb7;
}

#page #header #navigation ul.menu li#menu-437-1 a.sf-depth-1.active{
	background:#FFFFFF;
	color:#2f9bb7;

}



#page #header #navigation ul.menu li ul{
	margin-top:4px;
	position:absolute;
}

#page #header #navigation ul.menu li li{
    background:#FFFFFF;

}

#page #header #navigation ul.menu li li a{
	color:#333333;
}

.aboveMain table{
	min-width:100%;
}

.aboveMain table td{
	margin:10px;
	padding:9px;
	position:relative;
	float:left;
	width:278px;
	border:1px solid #CCCCCC;
	border-bottom-left-radius:10px;
	min-height:240px;
	background:#EFEFEF;
	box-shadow:0px 3px 5px #999999;

}

.aboveMain table td .views-field-field-featured-image{

	margin-bottom:10px;
	border-bottom:3px solid #CCCCCC;
}

.aboveMain table td .views-field-field-featured-image img{

}

.aboveMain table td .views-field-title{
	position:absolute;
	top:5px;
	left:5px;
	font-family:Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	font-size:30px;
	padding-left:14px;
	padding-top:8px;
	line-height:32px;
}

.aboveMain table td .views-field-title a{
	color:#FFFFFF;
}

.aboveMain table td.col-1 .views-field-title{
	background:url(../images/Icon_song-small.png) top left no-repeat;
}

.aboveMain table td.col-2 .views-field-title{
	background:url(../images/Icon_liturgy-small.png) top left no-repeat;
}

.aboveMain table td.col-3 .views-field-title{
	background:url(../images/Icon_blog-small.png) top left no-repeat;
}

.aboveMain table td .views-field-field-featured-teaser{
	padding:8px;
	margin-top:5px;
	border:1px dotted #CCCCCC;
	border-radius:3px;
	min-height:95px;
}

.one-sidebar #content .view-display-id-page .view-content, .one-sidebar #content .field-name-body{
	background:url(../images/background_main-lighter.jpg);
	padding:10px;
	box-shadow:0 5px 7px #CCCCCC;
	border-top-right-radius:20px;
	margin-bottom:20px;
	margin-top:10px;
}

.one-sidebar #content .view-display-id-page .view-header{
	color: #666666;
    font-size: 0.9em;
    margin: -20px 0 0 28px;
}

.front.one-sidebar #content .field-name-body,
.page-blog #content .field-name-body{
	background:none;
	padding:inherit;
	box-shadow:none;
	border-radius:0;
	margin-bottom:0px;
	padding-bottom:0;
}

.front.one-sidebar #content .field-name-body img,
.page-blog #content .field-name-body img{
	max-width:180px;
	height:auto;
}

.sidebar-first #content {
	float:left;
    width: 70%;
	margin-left:0;

}

.sidebar-first.section-liturgy #content{
	margin-right:0;
    width: 70%;
	margin-left:0;
	float:right;
}

.sidebar-first .region-sidebar-first{

    width: 28%;

	float:right;
}

.sidebar-first.section-liturgy .region-sidebar-first{
	margin-right:0;
    width: 28%;
	margin-left:0;
	float:left;
}

.sidebar-second #content {
   	float:left;
    width: 70%;
}

.sidebar-second .region-sidebar-second {
    float:right;
    width: 26%;
}

/* Home Unique Style */

aside .playVideo{
	border-top:1px dotted #CCCCCC;
	padding-top:20px;
	margin:20px 0 0 0;
}

.front aside .playVideo img{
	width:249px;
}

aside .videoCaption{
	font-size:.9em;
	margin:5px 0;
	color:#666666;
}

.front h1{
	font-size:16px;
	background:#75403a;
	margin:-7px 0 12px 0;
	text-transform:none;
	padding-left:1100px;
	margin-left:-1100px;
	color:#FFFFFF;
	border-bottom-right-radius:20px;
	border-top:2px solid #824d2c;
}

.front .sidebars .aboutImage{
	margin:0px 0 -10px 0;
	border-top:2px solid #1d829c;

}

.front .sidebars .aboutImage img{
	border-bottom-right-radius:4px;
}

.front .sidebars .sidebar .first h2 {
	margin-top:-64px;
	margin-left:110px;
	background:#2c98b4;
	color:#FFFFFF;
	border-top-left-radius:20px;
	padding:0px 10px 0 0;
	line-height:1.5em;
	text-align:right;
}

/* Front Page Style */

article{
	margin-bottom:20px;
	padding-bottom:20px;
	border-bottom:1px dotted #CCCCCC;
}

article .node-title a:hover{
	color:#666666;
	text-decoration:none;
}

article .submitted{
	margin-top:-6px;
	color:#999999;
	text-transform:uppercase;
	font-family:"Myriad Pro", "Myriad", Verdana, Geneva, sans-serif;
	font-weight:lighter;
	font-size:.9em;
	padding-left:5px;
}

article .submitted .username{
	font-weight:bold;
}

article .field-type-text-with-summary, article .continue-reading{
	clear:both;
	display:block;
}

article .continue-reading{
	 margin-bottom:5px;
}

article .continue-reading a{
	 padding:4px;
	 background:url(../images/Icon_forward-small.png) right no-repeat #5fa7b9;
	 color:#FFFFFF;
	 padding-right:25px;
	 border-radius:3px;

}

 article .continue-reading a:hover{
	 background:url(../images/Icon_forward-small.png) right no-repeat #666666;
 }

hr{
	background:none;
	border:1px dotted #CCCCCC;
}

/* Lyrics */

/* Liturgy */

.section-liturgy aside h2{
	font-size:16px;
	background:#75403a;
	margin:-7px 110px 12px 0;
	text-transform:none;
	padding-left:1100px;
	margin-left:-1100px;
	color:#FFFFFF;
	border-bottom-right-radius:20px;
	border-top:2px solid #824d2c;
}



/* Blog */

.node-type-blog-post #AboveFooter,
.section-liturgy .sharethis-buttons{
	display:none;
}

.node-type-blog-post h1{
	background:none;
	text-transform:uppercase;
	font-style:inherit;
	font-size:52px;
	line-height:56px;
	text-align:center;
	padding:0;
	padding:0 20px 20px;
}

.view-blog-not-search h2, .view-blog-not-search h2 a,
.front article h2, .front article h2 a{
	font-style:normal;
	text-transform:uppercase;
	line-height:24px;
	padding-right:100px;
	padding-bottom:10px;
}

.view-blog-not-search article .image-left,
.front article .image-left{
	max-width:30%;
	height:auto;
}

.front article .embedded-video{
	background:url(../images/background_main.jpg);
	padding:20px;
	text-align:center;
}

.front article .embedded-video iframe{
	width:90%;
	height:auto;
}

.node-type-blog-post article .submitted{
	text-align:center;
}

article.comment{
	padding:10px;
	margin-bottom:10px;
}

article.comment header{
	display:block;
	position:relative;
}

article.comment header .comment-title{
	margin-bottom:25px;
	margin-top:0;
}

article.comment header .submitted{
	text-align:left;
	font-size:.9em;
	padding:0;
}

section.comments .form-actions input{
	padding:4px;
	background:url(../images/Icon_forward-small.png) right no-repeat #5fa7b9;
	color:#FFFFFF;
	padding-right:25px;
	border:0;
}

section.comments .form-actions input#edit-preview{
	background:url(../images/Icon_search-bump.png) right no-repeat #666666;
	margin-left:6px;
}

.node-type-blog-post .field-type-taxonomy-term-reference{
	margin-bottom:10px;
}

.node-type-blog-post .field-type-taxonomy-term-reference div{
	width:auto;
	display:inline;
	margin-right:5px;
	color:#666666;
	font-size:.9em;
}

.section-blog aside p{
	font-family:Verdana, Geneva, sans-serif;
	font-size:.9em;
}

.section-blog .author-profile{
	background:#FFFFFF;
	padding:10px;
	color:#666666;
	margin-bottom:20px;
	border-bottom-left-radius:9px;
	min-height:45px;
	border-top:6px solid #5fa7b9;

}

.section-blog .author-profile a{

}

.section-blog .author-profile .field-type-image{
	width:59px;
	display:block;
	float:left;
}

.section-blog .author-profile .field-type-image img{
	border:2px solid #FFFFFF;
	border-bottom-left-radius:9px;
}

.section-blog .author-profile .field-name-field-bio{
	display:block;
	width:auto;
	margin-left:59px;
}

.section-blog .author-profile .field-name-field-bio p{
	margin:0 0 10px 0;
}


/* Blog Search */

.section-blog-tags .views-field-title{
	font-size:18pt;
	text-transform:uppercase;
	margin:20px 0 10px 0;
}

.section-blog-tags .views-row-first .views-field-title{
	margin:0 0 10px 0;
}

.section-blog-tags .views-field-author,
.section-blog-tags .views-field-created,
.page-blog-blog-search .views-field-author,
.page-blog-blog-search .views-field-created{
	color: #999999;
    font-family: "Myriad Pro","Myriad",Verdana,Geneva,sans-serif;
    font-size: 0.9em;
    font-weight: lighter;
    text-transform: uppercase;
}

.section-blog-tags .views-field-body p{
	margin-top:0;
}

.page-blog-blog-search .views-field-title h2,
.page-blog-blog-search .views-field-title h2 a{
	font-style:normal;
	text-transform:uppercase;
	margin:0;
}

/* Songbook Section Styles */


.section-songbook .view-song-search-results .ui360-vis{
	padding-left:0;
	margin-top:-15px !important;
}


.section-songbook .facetapi-limit-link{
	text-align:center;
	display:block;
	width:100%;
	overflow:hidden;
	background:#764039;
	height:16px;
	color:#FFFFFF;
	font-size:10px;
	text-transform:uppercase;
}


.sm2-canvas,
.ui360-vis .sm2-360btn,
.ui360-vis .sm2-360ui.sm2_paused .sm2-360btn,
.ui360-vis .sm2-360ui.sm2_playing .sm2-360btn{
	width:25px !important;
	height:25px !important;
}

.song{
	position:relative;
	padding:10px;
	background:#EFEFEF;
	border:2px solid #FFFFFF;
	border-radius:5px;
	margin:0 0 10px 0;
	height:22px;
	clear:both;
	display:block;
}

.song:hover{
	background:#FFFFFF;
	border:2px solid #EFEFEF;
}

.page-songbook .song .ui360.ui360-vis{
	position:relative;
}

.page-songbook .song .sm2-360ui{
	position:absolute;
	margin:-10px 0 0 -10px;

}

.song .views-field-field-demo{
	position:absolute;
	top:29px;
	left:15px;
}

.page-taxonomy .song .views-field-field-demo{
	top:6px;
}

.sm2-timing{
	padding-top:1px;
	font-size:12px !important;
	color:#999999;
	margin-left:12px !important;

}

.song .views-field-title{
	margin-left:50px;
	display:inline-block;
}

.song .ctools-dropdown{
	float:right !important;
	margin-left:10px;
}

.song .ctools-dropdown .ctools-dropdown-container{
	border:1px solid #CFCFCF !important;
	padding:3px !important;
}

/* Sidebar Styles */

.sidebars .sidebar{
	margin-top:-20px;
	padding:76px 0 0;
}

.sidebars .sidebar h2{
	font-size:16px;
}

#block-views-exp-song-search-results-page,
#block-views-exp-blog-search-results-page,
#block-current-search-standard{
	background:url(../images/background_main-dark.jpg);
	padding:10px;
	margin-bottom:0;

}

#block-views-exp-song-search-results-page,
#block-views-exp-blog-search-results-page{
	border-top:7px solid #2f9bb7;
}

#block-views-exp-song-search-results-page h2,
#block-views-exp-blog-search-results-page h2{
	background:url(../images/btn_formSubmit.png) top left no-repeat;
	padding-left:35px;
	color:#FFFFFF;
}

#block-views-exp-song-search-results-page #edit-search-api-views-fulltext-wrapper input,
#block-views-exp-blog-search-results-page #edit-blog-search-wrapper input,
#views-exposed-form-blog-search-results-page #edit-search-api-views-fulltext-wrapper input{
	width:140px;
	float:left;
	display:block;
}

#block-views-exp-song-search-results-page .views-submit-button input,
#block-views-exp-blog-search-results-page .views-submit-button input{
	float:left;
	display:block;
	padding:5px 10px;
	border:0;
	font-size:.7em;
	text-transform:uppercase;
	background:#993a14;
	color:#FFFFFF;
	margin:1px 0 0 -13px;
}

.section-blog .sidebar .block:not(.first){
	background:#FFFFFF;
	padding:5px;
	margin:0;
}

.section-blog .sidebar .block:not(.first) p{
	margin:0;
}

#block-current-search-standard{
	border-bottom:1px dotted #CCCCCC;
}

#block-current-search-standard h2{
	color:#CCCCCC;
	font-size:.9em;
	padding-top:10px;
	border-top:1px dotted #CCCCCC;
}

#block-current-search-standard h3{
	font-size:.9em;
	color:#993a14;
	margin-top:5px;
}

#block-current-search-standard .current-search-item .first{
	display:none;
}

#block-current-search-standard .current-search-item ul{
	list-style:none;
	margin:0;
	padding:0;
}

#block-current-search-standard .current-search-item li{
	margin:0;
	padding:0 0 5px 0;
	color:#FFFFFF;
}

#block-current-search-standard .current-search-item li a{
	display:inline-block;
	padding:0 3px;
	background:#FFFFFF;
	border-radius:3px;
	margin-right:5px;
}

#block-current-search-standard .current-search-item li a:hover{
	color:#FFFFFF;
	background:#993a14;
}

.sidebars .sidebar .block-facetapi{
	margin:0;
	background:#FFFFFF;;

}

.sidebars .sidebar .block-facetapi h2,
.section-blog .sidebar .block:not(.first) h2{
	padding:10px;
	border-bottom:1px dotted #CCCCCC;
	background:url(../images/menu-h2-main.png) top left repeat-x;
	padding-top:-10px;
	margin:0;
}

.sidebars .sidebar .block-facetapi h2:hover{
	background:#CCCCCC;
	color:#FFFFFF;
}

.sidebars .sidebar .ctools-collapsible-container .ctools-toggle {
    background-position: 7px 22px;
    height: 29px;
}

.sidebars .sidebar .ctools-collapsible-content ul{
	margin-bottom:0;
	padding-bottom:20px;
}

.sidebars .sidebar .ctools-collapsible-content ul li.leaf{
	list-style:none;
}

.sidebars .sidebar .ctools-collapsible-content ul .item-list ul{
	margin:0;
	padding:0;
	padding-left:10px;
}

.sidebars .sidebar .ctools-collapsible-content ul .item-list ul li a{
	color:#1c7a92;
	font-family:Verdana, Geneva, sans-serif;
	font-size:.9em;
}

.sidebars .sidebar .ctools-collapsible-content ul .item-list ul li a:hover{
	color:#2c98b4;
}

/* CMS Styles */

.image-left, img.image-left{
	float:left;
	margin:0 10px 10px 0;

}
.image-left img{
	border-top-left-radius:5px;
}

blockquote{
	padding:20px;
	border-top-left-radius:20px;
	border-bottom-right-radius:20px;
	color:#666666;
	background:#FFFFFF;
	box-shadow:3px 0 5px #CCCCCC;
	font-family:Georgia, "Times New Roman", Times, serif;

}

blockquote p{
	padding:0;
	margin:0;
	margin-bottom:12px;
	line-height:22px;
}

blockquote.blog-intro{
	margin:10px;
	padding:15px 0 0 0;
	border-radius:0;
	box-shadow:none;
	border-bottom:1px #CFCFCF dotted;
	border-top:1px #CFCFCF dotted;
	font-size:16px;
	line-height:26px;
	background:url(../images/background_main-light.jpg);
}

blockquote.blog-intro p{
	padding:0 15px 15px 15px;
	line-height:inherit;
	color:#333333;
}

blockquote.blog-intro p:before
{
	content:'\201C';
	font-size:800%;
	display:inline-block;
	margin:40px 5px -20px -22px;
	float:left;
}

/* Song Details Page */

.node-type-song .field-name-field-demo{
	display:block;
}

.logged-in .node-type-song .field-name-field-demo{
	display:block;
}

.node-type-song h1{
	background:none;
	padding-left:15px;
}

.node-type-song .field-name-field-lyrics{
	border-top:1px dotted #CCC;
	padding-top:15px;
}


.node-type-song div.jp-audio div.jp-type-playlist div.jp-progress {
    left: 104px;
	width:172px;
}


.node-type-song div.jp-audio div.jp-type-playlist div.jp-current-time,
.node-type-song div.jp-audio div.jp-type-playlist div.jp-duration {
    left: 104px;
    width: 172px;
}

.section-song #content.column p{
	padding:0;
}

.section-song .field-name-field-scripture-reference{
	padding-left:13px;
	color:#666666;
}

em{


}

.section-song .node-song .group-left{
	width:640px;
	margin-top:-20px;
	float:left;

}

.section-song .node-song .group-left .field{
	padding-left:15px;
	position:relative;
}

.section-song .node-song .group-left .field-name-field-description{
	margin-top:11px;
	padding:20px;
	border-top:1px dotted #CCCCCC;
	background:url(../images/background_main.jpg);
	font-family:Verdana, Geneva, sans-serif;
	font-size:.9em;

}

.section-song .node-song .group-left .field-name-field-description .field-label{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	color:#5fa7b9;
	font-size:16px;
	font-weight:normal;
	margin-bottom:-10px;
}

.section-song .node-song .group-right{
	width:260px;
	padding:20px 20px 20px 20px;

	background:url(../images/background_main-lighter.jpg);
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
	box-shadow:0 3px 5px #999999;
	float:right;
}

.section-song .node-song .group-right h3{
	text-transform:uppercase;
	font-style:normal !important;
	font-weight:normal;
}

.section-song .node-song .group-right .field-name-field-demo{
	background:#EFEFEF;
	padding:5px 0 0 5px;
	border-radius:3px;
	display:block;
	height:30px;
	margin-bottom:20px;
}

.section-song .node-song .group-right .field-name-field-demo .ui360.ui360-vis{
	margin:0;
	overflow:hidden;

}
.section-song .sm2-inline-list .ui360-vis .sm2-360ui {
    border:none;
}

.section-song .sm2-inline-list .ui360-vis:hover a.sm2_link {
    background:none !important;
}

.section-song .node-song .group-right .field a{
	display:block;
	margin:3px 0 10px 0;
}

.section-song .node-song .group-right .field-name-field-itunes a{
	background:url(../images/Icon_Itunes.png) left no-repeat;
	padding:3px 0 3px 30px;
}

.section-song .node-song .group-right .field-name-field-amazon a{
	background:url(../images/Icon_Amazon.png) left no-repeat;
	padding:3px 0 3px 30px;
}

.section-song .node-song .group-right .field-name-field-bandcamp a{
	background:url(../images/Icon_DownloadSong.png) left no-repeat;
	padding:3px 0 3px 30px;
}
.section-song .node-song .group-right .field-name-field-powerpoint a{
	background:url(../images/Icon_Powerpoint.png) left no-repeat;
	padding:3px 0 3px 30px;
}

.section-song .node-song .group-right .field-name-field-chart a{
	background:url(../images/Icon_Chords.png) left no-repeat;
	padding:3px 0 3px 30px;
}

.section-song .node-song .group-right .field-name-field-lead-sheet a{
	background:url(../images/Icon_Lead.png) left no-repeat;
	padding:3px 0 3px 30px;
}

.section-song .node-song .group-right .field-name-field-sheet-music a{
	background:url(../images/Icon_Strings.png) left no-repeat;
	padding:3px 0 3px 30px;
}

.section-song .field-name-field-copyright-and-licence{
	font-size:.8em;
	color:#666666;
	font-family:Verdana, Geneva, sans-serif;
	padding-right:200px;
}

.section-song .node-song .group-right .field-label{
	float:none;
}

.section-song .node-song .group-right .field-name-field-theme .field-item{
	display:inline-block;
	margin-right:5px;
}

.section-song .node-song .group-right .field-name-field-theme .field-item a:after{
	content:", ";
}

#sm2-container{
	height:1px;
	overflow:hidden;
}

/* Store */

.view-store .views-field-field-cnsb-product-image{
	float:left;
	display:inline-block;
	margin-right:15px;
	max-width:200px;
	height:auto;
}

.view-store .views-field-field-cnsb-product-image img{
	max-width:100%;
	height:auto;
}

.view-store .views-row{
	clear:both;
	background:url(../images/background_main-lighter.jpg);
	border-radius:10px;
	box-shadow:0 3px 5px #CCCCCC;
	padding:20px;
	margin-bottom:20px;
	position:relative;
	min-height:260px;
}

.view-store .views-field-title h2{
	margin:0 0 10px 0;
}

.view-store .views-field-field-buy{
	display:block;
	width:auto;
	position:absolute;
	top:0;
	right:0;
}

.view-store .views-field-field-buy a{
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	display:inline-block;
	padding:5px 10px;
	border:0;
	font-size:.7em;
	text-transform:uppercase;
	background:#993a14;
	color:#FFFFFF;
	margin:1px 0 0 -13px;
	border-radius:0;
	width:100px;
	border-bottom-left-radius:5px;
}

.view-store .views-field-field-buy a:hover{
	background:#2f9bb7;
}

.view-store .views-field-field-description p,
.view-store .views-field-field-release-date{
	padding-left:220px;
}

.view-store .views-field-field-release-date{
	color:#999999;
	font-size:.9em;
}


.messages.error{
	display:none;
}

/* Section Player */

.section-player{

}

.section-player article{
	padding-bottom:160px;
	border-bottom:0;

}

.section-player #media-player{
	width:500px;
	margin:0 auto;
}

.section-player #media-player div.jp-interface,
.node-type-song div.jp-interface{
	border:none;
	background:none;
}


.section-player #media-player div.jp-playlist{
	border: 1px solid #009BE3;
}

.node-type-song  div.jp-playlist{
	display:none;
}


.node-type-song div.jp-audio div.jp-type-playlist div.jp-interface {
	position:absolute;
	left:-27px;
}

.node-type-song div.jp-audio .jp-stop{
	display:none;
}

.node-type-song .field-name-field-demo{
	height:55px;
}

.node-type-song .field-name-field-scripture-reference {
    margin-bottom: -20px;
}

.section-player #media-player div.jp-playlist li:hover{
	background:#EFEFEF;
}

.section-player #page{
	background:none;
}
